.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Nav bar */
.navbar-size {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px 115px;
}

.navbar-options{
    display: flex;
}

.navbar-options a{
    text-decoration: none;
    padding: 0px 10px;
    color: #575757;
    font-size: 16px;
}

.register {
    background-color: #1D4ED8;
    padding: 12px 42px;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 16px;
}
/* Nav bar */

/* Hero Section */
.hero-section {
    background: linear-gradient(to right,rgba(0, 0, 0, 0.6) 30% , rgba(0, 0 , 0 ,0) 70%),linear-gradient(90deg,rgba(0, 0, 0, 0.6) 30%,rgba(0, 0, 0, 0) 70%), url(/assets/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 100px 350px;
}

.hero-title{
    font-weight: bold;
    font-size: 80px;
    color: white;
}

.hero-des {
    font-size: 22px;
    padding: 16px 250px;
    color: white;
}

.hero-button{
    margin-top: 250px;
    padding: 20px 40px;
    background-color: #1D4ED8;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

/* Hero Section */