.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Nav bar */
.navbar-size {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px 115px;
}

.navbar-options{
    display: flex;
}

.navbar-options a{
    text-decoration: none;
    padding: 0px 10px;
    color: #575757;
    font-size: 16px;
}

.register {
    background-color: #1D4ED8;
    padding: 12px 42px;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 16px;
}
/* Nav bar */

/* Hero Section */
.hero-section {
    background: linear-gradient(to right,rgba(0, 0, 0, 0.6) 30% , rgba(0, 0 , 0 ,0) 70%),linear-gradient(to bottom,rgba(0, 0, 0, 0.6) 30%,rgba(0, 0, 0, 0) 70%),
    url("./assets/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 100px 350px;
}

.hero-title{
    font-weight: bold;
    font-size: 80px;
    color: white;
}

.hero-des {
    font-size: 22px;
    padding: 16px 250px;
    color: white;
}

.hero-button{
    margin-top: 250px;
    padding: 20px 40px;
    background-color: #1D4ED8;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
/* Hero Section */

/* Speaker Section */
.speaker-section {
    padding: 0 55px;
    margin-bottom: 130px;
}

.speaker-title , .package-title{
    font-size: 60px;
    text-align: center;
    margin: 80px 0px;
}

.speaker-cards {
    margin: 0 auto;
    padding: 0 60px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0,1fr));
    gap: 32px;
    width: 100%;
    max-width: 70%;
}

.speaker-card {
    border-radius: 10px;
    border: 1px solid #E5E7EB;
}

.speaker-img img {
    width: 100%;
}

.speaker-card-info {
    padding-left: 24px;
    margin-bottom: 12px;
}

.job-title {
    margin-bottom: 0;
    color: #2563EB;
    font-size: 10px;
    font-weight: 600;
}

.speaker-name {
    color: #0D1B2A;
    margin: 4px 0;
}

.job-des{
    margin: 0;
    color: #575757;
    font-size: 12px;
}
/* Speaker Section */

/* Package Section */
.package-section{
    margin-bottom: 130px;
}
.package-cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(0,1fr));
    width: 100%;
    max-width: 70%;
    padding: 0 110px;
    margin: 0 auto;
    gap: 24px;
}
.package-card {
    padding: 32px;
    border: 1px solid #E5E7EB;
    border-radius: 10px;
}
.package-list {
    color: #333333;
    list-style: disc;
}

.person {
    color: #888888;
    font-size: 16px;
    margin: 8px 0;
}

.package-price {
    font-size: 44px;
    font-weight: bold;
    margin: 0;
}

.card-button {
    padding: 12px 105px;
    font-weight: bold;
    font-size: 14px;
    background-color: white;
    border: 1px solid #1D4ED8;
    border-radius: 10px;
    color: #1D4ED8;
    width: 100%;
}
/* Package Section */